
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planning - @ViewData["Title"]</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/css/LogIn.css" />*@
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        @* <div class="container">
                &copy; 2022 - DesignTemplate - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>*@
    </footer>

    <script src="https://kit.fontawesome.com/b6a2cce951.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>